<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rest Meal</title>
</head>
<body>
  <div id="root"></div>
  <h1>Rest Meal App</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="../public/images/heros/hero-image_2.jpg" width="450" alt="">
</body>
</html>
