.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  font-size: large;
  object-fit: cover;
  object-position: center;
}


.hero_inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero_title {
  font-weight: 500;
  font-size: 50px;
  margin: 0;
}

.hero_tagline {
  color: white;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
}
