/* App bar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: purple;
}

.menu {
  font-size: 32px;
  margin: 10px;
  display: block;
  width: 50px;
  cursor: pointer;
  color: blue;
  background-color: yelllow;
  text-decoration: none;
  border: none;
}

.nav_logo {
  line-height: 24px;
  color: white;
  padding: 0.7rem;
  margin: 0;
}

.nav_item,
a,
ul {
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav_item {
  box-sizing: border-box;
  line-height: 24px;
  display: inline-block;
}

.nav_item a {
  padding: 0.9rem;
  font-size: 1.3em;
}

.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav a:hover {
  background-color: grey;
  color: black;
  border-radius: 10px;
  padding: 0.7rem;
  font-size: 1.3em;
}

/* Tampilan hamburger menu di layar kecil */
@media screen and (max-width: 768px) {
  .nav_list {
    display: none; /* Sembunyikan daftar menu saat layar kecil */
    flex-direction: column; /* Tampilkan daftar menu secara vertikal */
    position: absolute;
    top: 70px;
    right: 0;
    background-color: purple;
    width: 100%;
    transform: translateX(100%); /* Sembunyikan menu di luar layar */
    transition: transform 0.3s ease-in-out;
  }

  .open .nav_list {
    display: flex; /* Tampilkan daftar menu saat menu hamburger diklik */
    transform: translateX(0); /* Geser menu ke dalam layar */
  }

  .nav_item {
    padding: 1em;
    text-align: center;
  }
}

/* Menyembunyikan tombol hamburger saat tampilan melebar (misalnya, layar dengan lebar lebih dari 768px) */
@media screen and (min-width: 769px) {
  .menu {
    display: none;
  }
}
