.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  background: #053b50;
}

button {
  background-color: #053b50;
}

.menu {
  font-size: 32px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: none;
  text-align: right;
}

.nav_logo {
  height: 30px;
}

.nav_item,
a,
ul {
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav_item {
  box-sizing: border-box;
  line-height: 24px;
  display: inline-block;
}

.nav_item a {
  padding: 0.9rem;
  font-size: 1.3em;
}

.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav a:hover {
  background-color: white;
  color: #053b50;
  border-radius: 4px;
  padding: 0.7rem;
  font-size: 1.3em;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #053b50;
    width: 50%;
    border-radius: 4px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .open .nav_list {
    display: flex;
    transform: translateX(0);
  }

  .nav_item {
    padding: 1em;
    text-align: center;
    border-bottom: 0.5px solid white;
  }
}

@media screen and (min-width: 769px) {
  .menu {
    display: none;
  }
}
